span {
  margin: 5px;
}

.wrapper {
  min-width: 300px;
}

.container {
  margin-bottom: 25px;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.msg-danger {
  color: red;
}

.popup {
  color: red;
  font-weight: bold;
}

a {
  color: #61dafb;
}

li {
  text-align: left;
}

select {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: orange;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
